
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    /* max-width: 100%; */
    width: 100%;
    object-fit: cover;
}

.image {
    display: none;
    width: 100%;
    object-fit: cover;
}

.container {
    margin: 0 auto;
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
    max-width: 900px;
    margin-top: 40px;
    gap: 15px;
}

.description {
    position: absolute;
    bottom: 50px;
    color: white;
    right: 15px;
    text-align: end;
}

.active {
    display: block;
}

.icon {
    position: absolute;
    z-index: 50;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: white;
    transform: translateY(-50%);
}

.icon-up {
    top: 50%;
    right: 20px;
}

.icon-down {   
    top: 50%;
    left: 20px;
}